{% extends 'base/base_form.html'%}
{% load bootstrap compress static %}
{% block style %}
	{{ block.super }}
{% endblock style %}

{% block script %}
	{{ block.super }}
{% endblock script %}

{% block content %}
        {% block breadcrumb %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'blogs:blog_list' %}">Blog List</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'blogs:blog_edit' object.pk%}">{{ object.title}}</a></li>

        </ol>
    {% endblock breadcrumb %}


	<form action="." method="post" enctype="multipart/form-data" data-disable-change="disable_change_warning">
		{% csrf_token %}
		{{ form|bootstrap}}
		<div><button type="submit" class="btn btn-primary">Submit</button></div>
		{% if object.pk %}
		<div><a href="{{ object.get_absolute_url }}">Detail view</a></div>
		{% endif %}
	</form>
{% endblock content %}



