:root{
	--main-contrast-color: #4d4d4dff;
	--main-brown-color: #372312;
    --dark-brown-5: #38220f;
    --dark-brown-4: #634832ff;
    --dark-brown-3: #967259ff;
    --dark-brown-2: #dbc1acff;
    --dark-brown-1: #ece0d1ff;
}
.author{
	color: black;
	font-family: "Avenir Next";
	padding: 10px;
	border-style: none;
	border-width: 10px;
	border-radius: 10px;
}
.blog_title {
    display: block;
    color: black;
	font-family: "Avenir Next";
	padding: 10px;
	border-style: none;
	border-width: 10px;
	border-radius: 10px;
}
.pub_date {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 15px;
	color: grey;
	text-align: center;
	color: #ffffff;
}

.article.a {
	color: #967259ff;

}
article img {
	align-content: center;
}

body{
	font-family: Avenir;
	margin:auto;
	width:90%;
	margin-bottom: 80px;
}
img{
	float:left;
	border-width: 5px;
	border-color: var(--main-contrast-color,grey);
	border-style: solid;
	border-radius: 10px;
	margin: 10px;
}

.left {
   float: left;
   margin: 0 20px 20px 20px;
}

