<!DOCTYPE html>
{% load compress static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %}
        {% compress css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        {% endcompress %}
        {% endblock style %}
        {% block script %}
        {% endblock script %}
    </head>

    <body{% block body_attr %} class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"{% endblock %}>

        {% block base_header %}

            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">
                    {% block navigation %}
                        {% include 'blocks/navigation.html' %}
                    {% endblock navigation %}
                </nav>
            </div>

        {% endblock base_header %}


        {% block base_content %}
        <div id="main-content" class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock base_content %}

        {% block base_footer %}

        {% endblock base_footer %}

        {% block bottom_script %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>

        {% endblock bottom_script %}

    </body>
</html>
