<!DOCTYPE html>
{% load compress static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block style %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {% compress css %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        {% endcompress %}
        {% endblock style %}
        {% block script %}
        {% endblock script %}
    </head>

    <body{% block body_attr %} class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"{% endblock %}>
        {% block base_header %}

            <div class="container">
                    {% block navigation %}
                        {% include 'blocks/navigation.html' %}
                    {% endblock navigation %}
                <hr>
            </div>

        {% endblock base_header %}


        {% block base_content %}
        <div id="main-content" class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock base_content %}
        <hr>
        {% block base_footer %}
        <footer class="footer" style="bottom: 0">
            <div class="container">
                <p class="text-center text-muted">Copyright &copy 2018 - {% now "Y" %} Jarod DeWeese</p>
            </div>
        </footer>
        {% endblock base_footer %}

        {% block bottom_script %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>

        {% endblock bottom_script %}

    </body>
</html>
