{% extends 'base/base_form.html'%}
{% load bootstrap compress static %}
{% block style %}
	{{ block.super }}
{% endblock style %}

{% block script %}
	{{ block.super }}
{% endblock script %}

{% block content %}
	<p class="h3"> Find me other places on the internet
		<ul>
			<li><a href="https://www.twitter.com/jaroddeweese" >Twitter</a></li>
			<li><a href="https://www.github.com/jdeweese1" >GitHub</a></li>
		</ul>
	</p>
	<p class="h3">Or drop me a note</p>
	<form action="." class="container" method="post" enctype="multipart/form-data" data-disable-change="disable_change_warning">
		{% csrf_token %}
		{{ form|bootstrap }}

		<div><button type="submit" class="btn btn-primary">Submit</button></div>
		<br>
	</form>
{% endblock content %}



#Add Contact redirect view page
