@import "bootstrap";

.navbar {
  margin-bottom: 20px;
}

:root{
	--main-bg-color:#e6e6e6ff;
	--main-contrast-color: #4d4d4dff;
	--main-brown-color: #372312;
    --dark-brown-5: #38220f;
    --dark-brown-4: #634832ff;
    --dark-brown-3: #967259ff;
    --dark-brown-2: #dbc1acff;
    --dark-brown-1: #ece0d1ff;
}
h1, h2{
	color: black;
	font-family: "Avenir Next";
	padding: 10px;
	border-style: none;
	border-width: 10px;
	border-radius: 10px;
	border-color: var(--main-contrast-color,red);
	border-bottom-color: var(--main-bg-color,pink);
}
header {
	margin: 15px;
}
header h2 {
	font-size: 30px;
	border-width: 0px;
	margin: 0px;
}
header p {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 15px;
	color: grey;
}

article a {
	color:var(--dark-brown-3);

}
article img {
	align-content: center;
}

nav .a{
	padding: 15px;
	border-bottom:15px;
	color:blue;
	text-transform: uppercase;
	font-family: Avenir;
}
body{
	background-color: var(--main-bg-color, black);
	font-family: Avenir;
	margin:auto;
	width:90%;
	margin-bottom: 80px;
}
p {
    text-align: justify;
    text-indent: 2em;
}
img{
	float:left;
	border-width: 5px;
	border-color: var(--main-contrast-color,grey);
	border-style: solid;
	border-radius: 10px;
	margin: 10px;
}

#footer {
	/*background-color: var(--main-bg-color);
    position:relative;
    text-align: center;
    */
  margin-top: -50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 40px;
  /* negative value of footer height */
  clear: both;
}

.left {
   float: left;
   margin: 0 20px 20px 20px;
}

.menu {
	text-transform: uppercase;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
.menu a {
	color: #b59575;
}
